@{
    ViewBag.Title = "App";
}

@section routings
{
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Routings/CSRContentRouting.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Routings/CSRErrorRouting.js")" type="text/javascript"></script>
}
@section controllers
{
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Header/MenuSetting/CSRMenuSettingController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Header/Themes/CSRHeaderThemesController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Header/Sitemap/CSRSitemapController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Navigation/CSRContentNavController.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Components/CSRContentBreadCrumbsController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Components/CSRContentRedirectPageController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Components/CSRContentTabController.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/CSRContentCustomerDetailInformationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/CustomerActionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/CSRContentPaginationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/CSRContentSearchCustomerController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/TroubleTicketbyCustomerId/AddReferenceController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/TroubleTicketbyCustomerId/CreateController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/TroubleTicketbyCustomerId/NextOperationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/TroubleTicketbyCustomerId/UpdateController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/TroubleTicketbyCustomerId/ViewAllController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/TroubleTicketbyCustomerId/ViewDetailController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/CSRAdvanceSearchController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/CSRSetToggleController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/CSRSetToggleController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Navigation/CustomerDashboardSidebarController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Section/CustomerDashboardSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Section/CustomerDetailSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Section/SubscriptionDashboardSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/CSRAdjustCustomerBalanceController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Subscription/AutoPayController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Subscription/SubscriptionDashboardController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Subscription/NumberSwapController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Subscription/SelectNumberController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Subscription/SIMSwapController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Subscription/DeviceSwapController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Subscription/ConfigurationDetailController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Subscription/PortabilityInfoController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/SearchCustomer/Subscription/SubscriptionsLifecycleHistoryController.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/CSRContentDashboardController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/ETButtonsController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/CSRTroubleTicketDashboardController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/TTStatisticsController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/CSRMaintenanceManagementController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/CSRUpdateHistoryController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/Navigation/TTDashboardSidebarController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/Section/TTDashboardSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/Section/TTSupportDashboardSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Dashboard/Section/TTSupportDetailSectionController.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/MyAccount/MyAccountController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/MyAccount/MyAccountSidebarController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/CustomerDetail/CustomerRemarksFormController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/CustomerDetail/CustomerDetailFormsController.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Inventory/Orders/OrderManagementController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Inventory/Orders/OrderDetailController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Inventory/Orders/OrderPermissionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Inventory/Navigation/InventorySidebarController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Inventory/InventoryManagement/InventoryManagementController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Inventory/InventoryManagement/InventoryPermissionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/UserManagement/AddUserController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/UserManagement/ViewUserController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/UserManagement/EditUserController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/UserManagement/UserPermissonController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Navigation/AdminSidebarController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/ModuleManagement/ModuleManagementController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/ModuleManagement/ModulePermissionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/RoleManagement/RoleController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/RoleManagement/RolePermissionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/MaintenanceManagement/MaintenancePlanController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/MaintenanceManagement/UpdateHistoryController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTClassConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTDepartmentConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTFlowRuleConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTFlowTypeConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTKPIConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTOperationTypeConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTPriorityConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTQuestionCodeConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTQuestionConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTStatusConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTSubTypeConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTTypeConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/TTWorkflowConfigurationSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/UpdateHistorySectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/Section/MaintenancePlanSectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTWorkflowConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTDepartmentConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTStatusConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTFlowTypeConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTTypeConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTPriorityConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTClassConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTOperationTypeConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTSubTypeConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTQuestionCodeConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTQuestionConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTKPIConfigurationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/TroubleTicketConfiguration/TTFlowRuleConfigurationController.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Custom/UploadFileController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/CustomerAccountManagement/CustAccManagementController.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Admin/CustomerAccountManagement/CustAccPermissionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CoverageCheck/CoverageCheckController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CustomerInfo/CustomerInfoController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/NumberSelection/NumberSelectionController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/Ordering/OrderingController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/ShippingAndPayment/ShippingAndPaymentController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/Summary/SummaryController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CustomerRegistrationController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/CustomerRegistrationHeaderController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Controllers/Contents/ShoppingCart/ShoppingBasket/ShoppingBasketController.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Controllers/Contents/Testing/TestingModuleController.js")" type="text/javascript"></script>
}
@section services
{
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/SearchServices.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CSRCacheServices.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/NavigationServices.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/ThemesService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CacheSearchServices.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/AdvanceSearchService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/AccountService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CacheMyAccountServices.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/UserManagementService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CSRGetterSetterService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CSRCustomerDetailService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/ModuleManagementServices.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/RoleManagementService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/TroubleTicketService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CacheTroubleTicketService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/TroubleTicketFunctionService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CacheAdminService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/DeviceManagementServices.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CacheEnumService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/GeneralFunctionsServices.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CacheInventoryService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CSRMaintenanceManagementService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/CacheNavigationService.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Services/SubscriptionService.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicAddressService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicPaymentService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicPortabilityService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicRegistrationCacheServices.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicRegistrationService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicTaxService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicDeviceManagementServices.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicCacheService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicGetterSetterService.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Areas/Public/Bindings/ViewModels/Services/PublicProductsService.js")" type="text/javascript"></script>
}

@section directives
{
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Components/CSRContentButtonPageDirective.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Components/CSRContentBreadcrumbDirective.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Components/CSRContentSearchBoxDirective.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Components/CSRContentContentLoader.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/SearchPage/CSRContentSearchPageDirective.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Custom/HTMLCompilerDirective.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Custom/httpPrefixDirective.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Custom/PopOverDirective.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Custom/sitemapPopoverDirective.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Custom/CSRTreeViewDirective.js")" type="text/javascript"></script>*@
    @*<script src="@Url.Content("~/Areas/CSR/Bindings/ViewModels/Directives/Custom/CSRCustomTreeDirective.js")" type="text/javascript"></script>*@

}



<!-- Admin header -->
<div ng-view></div>

